
[data-role="page"] {
    /* Styles */
    background-color: lightblue;
}
h1 { 
    color: red;
}
h2 { 
    text-align:center;
    color: red;
}
h3 { 
    color: red;
}
h4 { 
    color: red;
}
a {
    max-width: 100%;
}

